@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}


body{

    background-color: antiquewhite;


}


nav{
    background-color: antiquewhite;
}

/* --- text --- */

.inline-block{
    display: inline-block;
}


/* --- header --- */

.active{
    border-bottom: 2px solid #333;
}


/* hero cover */


#hero-container{
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-image{
    height: 750px;
    width: 100%;
    background-image: url("../img/band-hero-img.jpg");
    background-size: cover;
    background-position: center;
    animation-name: hero-image-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes hero-image-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#hero-cover-text h1{
    color: antiquewhite;
    font-size: 250%;
    margin-bottom: 25px;
    line-height: 50px;
}
#hero-cover-text h2{
    font-size: 120%;
    color: antiquewhite;
    line-height: 25px;
}

#hero-cover-text{
    color: antiquewhite;
    text-shadow: 3px 3px black;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 150%;

    width: 1000px;
    height: 100px;

    top: 425px;
    left: 175px;
    position: absolute;
    text-align: left;


}



@media screen and (max-width: 1393px){

    #hero-cover-text{
        width: 500px;
    }

}



@media screen and (max-width: 755px){

    #hero-cover-text{
        width: 100px;
        left: 30px;
        line-height: 2px;
    }

}








/* --- form --- */

.contact-form-header{
    font-weight: 400;
    margin-top: 150px;


}

.contact-form-center{
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 100px;
}

.contact-margin-bottom{
    margin-bottom: 10px;
}




/* --- footer --- */



footer{
    min-width: 120px;
    border-top: 2px solid #333;
    background-color: antiquewhite;
    padding-top: 30px;
    position:fixed;
    bottom:0;
}


.social-media{
    padding-bottom: 15px;
}

.social-media li a i{
    width: 40px;
    height: 40px;
    margin-right: 40px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;

    color: #333;
    background-color: #8f8f8f;

}

.social-media h3{
    margin-right: 70px;
}
